@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-4;
}

h1 {
  @apply text-gray-11;
}

h2, h3, h4 {
  @apply text-2xl text-gray-11;
}

h5, h6 {
  @apply text-xl text-gray-11;
}

p, span, text {
  @apply text-gray-11;
}

ul {
  @apply py-4 list-disc list-inside;
}

a {
  @apply text-blue-6;
}

li {
  @apply py-2;
}
/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  @apply bg-gray-10;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  @apply bg-gray-8;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  @apply bg-gray-3;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  @apply bg-gray-10;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #262626;
}

/* Wrapper for item list */
.bm-item-list {
  color: #f0f0f0;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}